body {
  background-color: whitesmoke;
  margin: 0;
}

.gameSpace {
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 650px;
  height: 100vh;
  box-shadow: 0 0 20px 0 rgba(0, 0, 0, 0.2);
}

.playerStatsBanner {
  display: flex;
  justify-content: space-between;
  height: 60px;
  width: 100%;
  border: 1px solid green;
}

.score {
  padding: 5px;
  display: flex;
  justify-content: space-between;
  height: 100%;
  width: 45%;
}
.scoreText {
  color: rgb(26, 167, 26);
  font-size: 20px;
  width: 50%;  
  text-align: left;
  font-family: 'Press Start 2P', cursive;
}
.scoreValue {
  color: rgb(26, 167, 26);
  width: 50%;
  height: 50%;
  align-self: center;
  text-align: right;
  font-family: 'Press Start 2P', cursive;
}

.pressEnter {
  font-family: 'Press Start 2P', cursive;
  padding-top: 40px;
  text-align: center;
  font-size: 10px;
  width: 50%;
}

.livesRemaining {
  padding: 5px;
  display: flex;
  justify-content: space-between;
  height: 100%;
  width: 40%;
}

.livesRemainingText {
  color: rgb(235, 36, 29);
  font-size: 20px;
  width: 50%;  
  text-align: right;
  font-family: 'Press Start 2P', cursive;
}
.livesRemainingValue {
  color: rgb(235, 36, 29);
  width: 50%;
  height: 50%;
  align-self: center;
  text-align: left;
  font-family: 'Press Start 2P', cursive;
}

.grid {
  display: flex;
  width: 650px;
  height: 650px;
  flex-wrap: wrap;
  border: 1px solid black;
}

.grid div {
  display: flex;
  width: 4%;
  height: 4%;
  background-color: black;
}

.grid div.freshCell {
  background-image: url(../style-resources/circlefood.png);
  background-position: center;
  background-repeat: no-repeat;
  background-size: 10% 10%;
}

.grid div.pacman180 {
  background-image: url(../style-resources/pacman.gif);
  background-repeat: no-repeat;
  background-size: contain;
  transform: rotate(180deg);
}
.grid div.pacman90 {
  background-image: url(../style-resources/pacman.gif);
  background-repeat: no-repeat;
  background-size: contain;
  transform: rotate(90deg);
}
.grid div.pacman270 {
  background-image: url(../style-resources/pacman.gif);
  background-repeat: no-repeat;
  background-size: contain;
  transform: rotate(270deg);
}
.grid div.pacman0 {
  background-image: url(../style-resources/pacman.gif);
  background-repeat: no-repeat;
  background-size: contain;
  transform: rotate(0deg);
}

.grid div.wall {
  background-color: rgba(0, 0, 0, 0.705);
  box-shadow:inset 0px 0px 0px 5px midnightblue;
}

.grid div.ghostHouseInternalWalls {
  background-color: black;
  box-shadow:inset 0px 0px 0px 0px lightgrey;
}

.grid div.wallGates {
  background-color: black;
  box-shadow:inset 0px 5px 0px 0px lightgrey;
}

.grid div.chaser {
  background-image: url(../style-resources/chaser2.gif);
  background-repeat: no-repeat;
  background-size: cover;
}

.grid div.lostGhost {
  background-image: url(../style-resources/lostghost.gif);
  background-repeat: no-repeat;
  background-size: cover;
}

.grid div.interceptorGhost {
  background-image: url(../style-resources/interceptor.gif);
  background-repeat: no-repeat;
  background-size: cover;
}

.grid div.randomGhost {
  background-image: url(../style-resources/randomGhost.gif);
  background-repeat: no-repeat;
  background-size: cover;
}

.victory {
background-image: url(../style-resources/VictoryImage.jpg);
background-repeat: no-repeat;
background-size: contain;
background-position: center;
}