body {
  background-color: whitesmoke;
  margin: 0;
}

.gameSpace {
  margin: 0 auto;
  display: flex;
  align-items: center;
  width: 650px;
  height: 100vh;
  box-shadow: 0 0 20px 0 rgba(0, 0, 0, 0.2);
}

.grid {
  display: flex;
  width: 650px;
  height: 650px;
  flex-wrap: wrap;
  border: 1px solid black;
}

.grid div {
  display: flex;
  width: 4%;
  height: 4%;
  background-color: black;
}

.grid div.freshCell {
  background-image: url(../style-resources/circlefood.png);
  background-position: center;
  background-repeat: no-repeat;
  background-size: 10% 10%;
}

.grid div.pacman180 {
  background-image: url(../style-resources/pacman.gif);
  background-repeat: no-repeat;
  background-size: contain;
  transform: rotate(180deg);
}
.grid div.pacman90 {
  background-image: url(../style-resources/pacman.gif);
  background-repeat: no-repeat;
  background-size: contain;
  transform: rotate(90deg);
}
.grid div.pacman270 {
  background-image: url(../style-resources/pacman.gif);
  background-repeat: no-repeat;
  background-size: contain;
  transform: rotate(270deg);
}
.grid div.pacman0 {
  background-image: url(../style-resources/pacman.gif);
  background-repeat: no-repeat;
  background-size: contain;
  transform: rotate(0deg);
}

.grid div.wall {
  background-color: rgba(0, 0, 0, 0.705);
  box-shadow:inset 0px 0px 0px 5px midnightblue;
}

.grid div.chaser {
  background-image: url(../style-resources/chaser2.gif);
  background-repeat: no-repeat;
  background-size: cover;
}

.grid div.lostGhost {
  background-image: url(../style-resources/lostghost.gif);
  background-repeat: no-repeat;
  background-size: cover;
}

.grid div.interceptorGhost {
  background-image: url(../style-resources/interceptor.gif);
  background-repeat: no-repeat;
  background-size: cover;
}

.grid div.randomGhost {
  background-image: url(../style-resources/randomGhost.gif);
  background-repeat: no-repeat;
  background-size: cover;
}