body {
  background-color: whitesmoke;
  margin: 0;
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  background-color: rgba(0, 0, 0, 0.815);
}

div.leftpage,
div.rightpage {
  display: flex;
  flex-direction: column;
  min-width: 25%;
  text-align: center;
  text-transform: uppercase;
  font-size: 340%;
  font-family: "Press Start 2P", cursive;
  line-height: 200%;
}

.topleft {
  height: 50%;
  padding: 8%;
  color: rgb(250, 35, 35);
}

.bottomleft {
  color: rgb(31, 223, 223);
}

.topright {
  padding: 8%;
  height: 50%;
  color: rgb(252, 183, 79);
}
.bottomright {
  color: pink;
}

.gameSpace {
  margin-top: 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  align-self: center;
  height: 100vh;
}

.playerStatsBanner {
  display: flex;
  justify-content: space-between;
  padding-top: 20px;
  height: 60px;
  width: 100%;
}

.score {
  padding: 5px;
  display: flex;
  justify-content: space-between;
  height: 100%;
  width: 45%;
}
.scoreText {
  color: rgb(26, 167, 26);
  padding-left: 15px;
  font-size: 20px;
  width: 50%;
  text-align: left;
  font-family: "Press Start 2P", cursive;
  line-height: 140%;
}
.scoreValue {
  color: rgb(26, 167, 26);
  width: 50%;
  height: 50%;
  align-self: center;
  text-align: right;
  font-family: "Press Start 2P", cursive;
}

.pressEnter {
  font-family: "Press Start 2P", cursive;
  padding-top: 40px;
  text-align: center;
  font-size: 10px;
  width: 50%;
  color: rgb(255, 252, 238);
}

.livesRemaining {
  padding: 5px;
  display: flex;
  justify-content: space-between;
  height: 100%;
  width: 40%;
}

.livesRemainingText {
  padding-right: 15px;
  color: rgb(235, 36, 29);
  font-size: 20px;
  width: 50%;
  text-align: right;
  font-family: "Press Start 2P", cursive;
  line-height: 140%;
}
.livesRemainingValue {
  color: rgb(235, 36, 29);
  width: 50%;
  height: 50%;
  align-self: center;
  text-align: left;
  font-family: "Press Start 2P", cursive;
}

.grid {
  display: flex;
  width: 650px;
  height: 650px;
  flex-wrap: wrap;
  border: 1px solid black;
}

.grid div {
  display: flex;
  width: 4%;
  height: 4%;
  background-color: black;
}

.grid div.freshCell {
  background-image: url(../style-resources/circlefood.png);
  background-position: center;
  background-repeat: no-repeat;
  background-size: 10% 10%;
}

.grid div.energizer {
  background-image: url(../style-resources/redbull.gif);
  background-position: center;
  background-repeat: no-repeat;
  background-size: 100% 100%;
}

.grid div.pacman180 {
  background-image: url(../style-resources/pacman.gif);
  background-repeat: no-repeat;
  background-size: contain;
  transform: rotate(180deg);
}
.grid div.pacman90 {
  background-image: url(../style-resources/pacman.gif);
  background-repeat: no-repeat;
  background-size: contain;
  transform: rotate(90deg);
}
.grid div.pacman270 {
  background-image: url(../style-resources/pacman.gif);
  background-repeat: no-repeat;
  background-size: contain;
  transform: rotate(270deg);
}
.grid div.pacman0 {
  background-image: url(../style-resources/pacman.gif);
  background-repeat: no-repeat;
  background-size: contain;
  transform: rotate(0deg);
}

.grid div.wall {
  background-color: rgba(0, 0, 0, 0.705);
  box-shadow: inset 0px 0px 0px 3px rgba(8, 12, 247, 0.877);
}

.grid div.ghostHouseInternalWalls {
  background-color: black;
  box-shadow: inset 0px 0px 0px 0px lightgrey;
}

.grid div.wallGates {
  background-color: black;
  box-shadow: inset 0px 5px 0px 0px lightgrey;
}

.grid div.chaser {
  background-image: url(../style-resources/chaser2.gif);
  background-repeat: no-repeat;
  background-size: cover;
}

.grid div.lostGhost {
  background-image: url(../style-resources/lostghost.gif);
  background-repeat: no-repeat;
  background-size: cover;
}

.grid div.interceptorGhost {
  background-image: url(../style-resources/interceptor.gif);
  background-repeat: no-repeat;
  background-size: cover;
}

.grid div.randomGhost {
  background-image: url(../style-resources/randomGhost.gif);
  background-repeat: no-repeat;
  background-size: cover;
}

.grid div.vulnerable {
  background-image: url(../style-resources/scaredmode.gif);
  background-repeat: no-repeat;
  background-size: cover;
}

.victory {
  background-color: rgba(0, 0, 0, 0.705);
  box-shadow: inset 0px 0px 0px 5px midnightblue;
  width: 35%;
  padding: 50px;
  color: yellow;
  font-size: larger;
  font-family: "Press Start 2P", cursive;
  visibility: hidden;
  position: absolute;
  margin-top: 150px;
  text-align: center;
  line-height: 300%;
}
.defeat {
  background-color: rgba(0, 0, 0, 0.705);
  box-shadow: inset 0px 0px 0px 5px midnightblue;
  width: 35%;
  padding: 50px;
  color: yellow;
  font-size: larger;
  font-family: "Press Start 2P", cursive;
  visibility: hidden;
  position: absolute;
  margin-top: 150px;
  text-align: center;
  line-height: 300%;
}
.lifelost {
  background-color: rgba(0, 0, 0, 0.705);
  box-shadow: inset 0px 0px 0px 5px midnightblue;
  width: 35%;
  padding: 50px;
  color: yellow;
  font-size: larger;
  font-family: "Press Start 2P", cursive;
  visibility: hidden;
  position: absolute;
  margin-top: 150px;
  text-align: center;
  line-height: 300%;
}

@media only screen and (max-width: 1295px) {
  div.leftpage,
  div.rightpage {
    font-size: 200%;
    min-width: 15%;
    padding-top: 80px;
  }
}
@media only screen and (max-width: 1050px) {
  div.leftpage,
  div.rightpage {
    display: none;
  }